AI_Mentor_Chatbot/agenticai_chatbot_project.json
{
  "name": "agentic_project",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6056c77d-3f4e-4eac-8104-04cf4937ef71",
      "name": "Telegram Trigger",
      "webhookId": "791b5410-1ae3-4b14-ae29-61c84ba273ff",
      "credentials": {
        "telegramApi": {
          "id": "Qu3l1frDbOmrMLn6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"message\"][\"text\"]}}\n\nYou are the Innomatics AI Mentor Assistant.\n\nFollow this full conversation flow EXACTLY:\n\n----------------------------\n1) GREETING LOGIC\n----------------------------\nIf the user sends: hi, hello, hey, hii, gm, good morning, good evening  \n→ Reply ONLY this:\n\nHello 👋  \nHow can I help you today?  \nPlease choose a topic:  \n1) Python  \n2) EDA  \n3) Machine Learning  \n4) Deep Learning  \nType the topic name or number to continue.\n\n----------------------------\n2) TOPIC SELECTION LOGIC\n----------------------------\nIf the message is a topic selection:\n(1, 2, 3, 4  \nOR \"python\", \"eda\", \"machine learning\", \"ml\", \"deep learning\", \"dl\")\n\nThen reply ONLY:\n\nGreat — you selected *<TOPIC>*.  \nPlease type your exact technical doubt about <TOPIC>.  \nI will reply step-by-step with examples.\n\nReplace <TOPIC> with:  \nPython / EDA / Machine Learning / Deep Learning.\n\nAND FROM NOW ON:  \n→ ANY message from the user MUST be treated as a technical doubt.\n\n----------------------------\n3) DOUBT ANSWERING LOGIC\n----------------------------\nIf a topic was already chosen earlier  \nAND the new message is NOT a greeting or a topic name  \n→ Treat it as a TECHNICAL DOUBT.\n\nGive the doubt answer in this format:\n\nSummary: <one line>\n\nSteps:\n1.  \n2.  \n3.  \n(keep it short and clear)\n\nExample:\n```python\n# runnable example if relevant\n",
        "options": {
          "systemMessage": "You are the Innomatics AI Mentor Assistant.\n\nYour job is to guide students with technical doubts in Python, EDA, Machine Learning, and Deep Learning.\n\nGlobal behavior rules you MUST follow:\n\n1. Always be friendly, clear and helpful.\n2. You must follow this conversation flow strictly:\n   a) If user greets → greet them and show topic list.\n   b) If user chooses a topic → confirm it and ask for their exact doubt.\n   c) AFTER a topic is chosen → ANY message from the user is treated as a technical doubt.\n   d) Respond with structured, step-by-step explanations.\n3. When answering technical doubts:\n   - Start with: \"Summary: <one line>\"\n   - Then \"Steps:\" (3–6 clear steps)\n   - Include a small \"Example:\" code snippet if applicable\n   - Add \"Common pitfalls:\" (2 bullets)\n   - Add \"Next steps:\" (1–3 suggestions)\n   - End with: \"Did this solve your problem?\"\n4. NEVER ask the user to choose a topic again once the topic is selected.\n5. NEVER ignore the chosen topic.\n6. NEVER write long theory unless needed.\n7. Be simple, concise, and easy to understand.\n8. If the user resets the chat or types \"start\", \"restart\", \"reset\", then begin the flow again from greeting.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        0
      ],
      "id": "50459707-e992-4c22-a79f-2a4b6e734aac",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "84823a5d-248d-48a9-aef9-dff3fea9ff84",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Xv97vhaXBiGlMce6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        0
      ],
      "id": "147dd6af-f921-4ce5-9492-849ec7153e95",
      "name": "Send a text message",
      "webhookId": "7baad83a-12a3-4d4b-93a6-8a2818dc358c",
      "credentials": {
        "telegramApi": {
          "id": "Qu3l1frDbOmrMLn6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "c36c77fb-b170-4693-ae77-688aba75b610",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4781023-0b03-4d60-ab64-9fe5db8e5f59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e92bfb19d8abf47ce48e7a4b000749db2558bbd2c5cd4055c2dd0752886cff8e"
  },
  "id": "LpgK1PHK53nMihg2",
  "tags": []
}